/* You can customize theme styles here */
.header .navbar-brand img {
    width: 220px !important;
}

.header .navbar-light .navbar-nav .nav-link {
    color: #344C3D !important;
}

.btn-primary {
    background-color: #D8959B !important;
    border-color: #D8959B !important;
}

.display-1 {
    color: #829672 !important;
}

p a, span a {
    color: #D8959B !important;
    border-bottom: 1px solid #D8959B !important;
}

p a, span a:hover {
    color: #829672 !important;
    border-bottom: 1px solid #829672 !important;
}

.h1, .h2, .h4, .h6, h1, h2,  h4, h6 {
    color: #829672 !important;
}

.h5, h5 {
    padding-bottom: 20px;
}

.h7, h7 {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.78;
    letter-spacing: -.2px;
    color: #000;
}

.h3, h3 {
    color: #D8959B !important;
}

.h2, h2 {
    font-weight: 500;
}

.section .row.row--padded {
    margin-top: 40px !important;
    margin-bottom: 1px !important;
}

.rad-showcase {
    margin-bottom: 150px !important;
}